:root {
  --bg: #080B12;
  --text: #CFB3E6;
  --border-grd1: #6C6499;
  --border-grd2: #111222;
  --card-grd1: #1F193D;
  --card-grd2: #05060D;
  --radial-center: rgba(173,155,255,0.3);
  --radial-edge: rgba(11,12,22,0.3);
  --shadow: rgba(173,155,255,0.5);
}
header{
   text-align: center;
}

body{
    height: 80vh;
    background-color: var(--bg);
    margin: 1em;
    box-sizing: border-box;
  
    color: var(--text);
    transition: all ease 0.3s;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

body::before,
body::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 10%;
}

body::before {
  background: #0C101B;
  filter: url(#noiseFilter);
}

form{
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 25px;
  align-items: center
}

.formChild{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center
}

input{
  width: 50%;
  height:30px;
  padding: 0.3em;
  border-style: solid;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #333;
  margin: 0;
}

input:invalid{
   border-color: #900;
      }

label{
  font-size: 24px;
}

.left{
  grid-column: 2/3;  
}

header > h1{
  margin-left: 25px
}

span {
width: 51.5%;
padding: 0;
font-size: 100%;
color: white;
background-color: var(--card-grd2);
border-radius: 0 0 5px 5px;
box-sizing: border-box;
transition: all ease 2s;
}

input[type=submit]{
height: 100%;
align-items: center;
justify-items: center;
background: var(--radial-center);
border: 1px solid var(--text);
border-radius: var(--text);
color: var(--text);
cursor: pointer;
font: inherit;
padding: 1rem;
position: relative;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.1ch;

}

footer{
  text-align: center;
}
